{% extends "keywords/base.html" %}

{% block content %}
<h1>Keyword detail page</h1>
{% if keyword %}
<p><span class="bolder">Keyword:</span> {{ keyword.name }}</p>
<p><span class="bolder">Average word count:</span> {{ keyword.average_count }}</p>
</p><span class="bolder">Average density:</span> {{ keyword.average_density }}</p>
{% else %}
Sorry, that keyword doesn't exist (anymore).
{% endif %}
<h2>Other keywords</h2>
{% for keyword in other_keywords %}
<a href="{% url 'keyword-detail' keyword.pk %}">{{ keyword.name }}</a><br>
{% endfor %}
{% endblock %}
