body {
  font-family: sans-serif;
  font-size: 12px;
  background-color: #9ad1e3;
}
#main-container {
  width: 540px;
  margin-left: auto;
  margin-right: auto;
}
#main-content {
  padding: 20px 30px;
  background-color: #fff;
}

/* footer */
#footer-area {
  text-align: center;
  color: #3b3939;
}

.btn {
  background-color: #105290;
  border: 2px solid #105290;
  color: #fff;
  display: inline-block;
  line-height: 1.5;
  min-width: 7em;
  padding: .5em 1em;
  text-decoration: none;
  text-align: center;
  font-size: 11px;
  cursor: pointer;
  margin-top: 10px;
}
.btn-red {
  background-color: #ff1b2d;
  border: 2px solid #ff1b2d;
  color: #fff;
}

table {
  border-collapse: collapse;
}
table, th, td {
  border: 1px solid black;
}
td {
  padding: 10px;
  font-size: 13px;
}
#top-nav ul {
  margin: 10px 0 10px 0;
  padding: 0 0 10px;
  border-bottom: 1px solid #ddd;
}
#top-nav li {
  background-color: #e8edf1;
  border: 1px solid #cbd2d8;
  list-style: none;
  display: inline-block;
  margin: 0;
  padding: 4px 4px;
  width: 60px;
  text-align: center;
}
#top-nav li a {
  text-decoration: none;
  color: #000;
}
#top-nav li a:visited {
  color: #000;
}
#top-nav li a:hover {
  text-decoration: underline;
}


/* forms */
label {
  display: inline-block;
  width: 120px;
  margin-bottom: 10px;
}

input {
  width: 280px;
}
input#id_keyword {
  width: 180px;
}

ul.errorlist {
  list-style: none;
  margin: 0;
  padding: 0;
}
div.errorbox {
  background-color: #faeca0;
  margin-bottom: 20px;
  width: 350px;
  padding: 10px;
}

#previous-search-info {
  border-top: 1px solid #ddd;
  padding-top: 5px;
  margin-top: 30px;
}

#previous-search-info p {
  margin: 10px 0 5px 0;
  padding: 0;
  font-weight: bold;
}

#previous-search-info ul {
  margin:0 0 10px 0;
  padding: 0;
}
#previous-search-info ul li {
  list-style: none;
  padding-top: 4px;
}
#previous-search-info span {
  display: inline-block;
  width: 120px;
}
